.container {
	width: 100%;
	display: flex;
  min-height: 350px;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	aspect-ratio: 1/1;
	border-radius: 50%;
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.spinner--quarter {
	width: 48px;
	border: 5px solid #020136;
	border-top-color: transparent;
	animation-duration: 1s;
}